*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    margin: 0 auto;
    height: 100vh;
}

.section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.red{
    width: 194px;
    height: 168px;
    background: #F43333;
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
